html {
    body {
        font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        text-align: center;
        color: white;
        background-color: #1a1a1a;
    }
}
